.macronutrients {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    font-family: 'Nunito Sans', sans-serif;
    &__item {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        align-items: center; 
        font-size: 13px;
        line-height: 100%;
    }
    &__label {
        font-weight: 300;
        color: rgba(56, 56, 54, 0.6);
        font-weight: 300;
    }
    &__value {
        font-weight: 600;
        color: #1E9F38;
    }
}