.macronutrients {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    font-family: 'Nunito Sans', sans-serif;
    &__item {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        align-items: center; 
        font-size: 13px;
        line-height: 100%;
    }
    &__label {
        font-weight: 300;
        color: rgba(56, 56, 54, 0.6);
        font-weight: 300;
    }
    &__value {
        font-weight: 600;
        color: #1E9F38;
    }
}

.fixed-sidebar {
    display: none;
    position: fixed;
    z-index: 9;
    top: 50%; 
    transform: translateY(-50%);
    width: 100%;
    max-width: 140px;   
    &_right {
        right: 20px;
    }
    @media (min-width: $md2 + px) {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }
}

.deadline-panel {
    display: flex;
    gap: 8px;
    align-items: center;
    .menu-page__header & {
        margin-top: 20px;
        @media (min-width: $md2 + px) {
            display: none;
        }
    }
    @media (min-width: $md2 + px) {
        background: #FFFFFF;
        box-shadow: 0px 16px 80px rgba(0, 117, 65, 0.07);
        border-radius: 20px;
        padding: 24px;
        flex-direction: column;
        justify-content: center;
    }
    &__title {
        font-size: 13px;
        font-weight: 300;
        line-height: 17px;
        color: #999999;
        text-align: center;
        .menu-page__header & {
            font-size: 16px;
        }
    }
    &__time {
        font-weight: 700;
        color: #1E9F38;
        line-height: 21px;
        font-size: 16px;
        .fixed-total-panel & {
            font-size: 14px;
            font-weight: 500;
        }
        &_danger {
            color: #DD3449;
        }
    }
}