.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(56, 56, 54, 0.4);
  /*backdrop-filter: blur(5px);*/
  display: flex;
  align-items: center;
  padding: 20px;
  z-index: 99;
  overflow-y: auto;
  &__inner {
    width: 100%;
    max-width: 420px;
    margin: auto;
    border-radius: 30px;
    background: #FFFFFF;
    position: relative;
    padding: 60px 40px;
  }
}

.success-modal {
  text-align: center;
  &__title {
    color: #1E9F38;
    @include adaptiv-value(font-size, 36, 34, 1);
    @include adaptiv-value(margin-bottom, 30, 25, 1);
    line-height: 100%;
  }
  &__msg {
    color: #383836;
    @include adaptiv-value(font-size, 20, 18, 1);
    line-height: 140%;
    margin-bottom: 40px;
  }
  &__buttons-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 15px !important;
    .button {
      @media (min-width: $md2 + px) {
        max-width: 160px !important;
      }
    }
  }
}